<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login | LitScore</title>
  <link rel="stylesheet" href="../static/css/colors.css" />
  <link rel="stylesheet" href="../static/css/auth.css" />
  <link rel="stylesheet" href="../static/css/forms.css" />
</head>

<body>
  <div class="login-page">
    <div class="login-illustration">
      <a href="./index.html" class="logo">
        <img src="../static/images/logo.svg" alt="LitScore logo">
        <span>LitScore</span>
      </a>
    </div>

    <div class="login-form">
      <div class="form-content">
        <h2>Bem-vindo de volta!</h2>
        <p class="form-subtitle">Que bom te ver por aqui novamente.</p>
        <form>
          <div class="input-group">
            <label for="email">Email</label>
            <input type="email" id="email" placeholder="Digite seu email">
          </div>
          <div class="input-group">
            <label for="password">Senha</label>
            <input type="password" id="password" placeholder="Digite sua senha">
          </div>
          <button type="submit">Entrar</button>
          <p class="register-text">Não tem uma conta? <a href="./register.html">Cadastre-se</a></p>
        </form>
      </div>
    </div>
  </div>

</body>

</html>