<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='images/logo.svg') }}">
  <title>{% if user %}Editar Perfil | LitScore{% else %}Cadastro | LitScore{% endif %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">

</head>

<body>
  {% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
  <div id="flash-messages" class="header-space">
    {% for category, message in messages %}
    <div class="flash {{ category }}">{{ message }}</div>
    {% endfor %}
  </div>
  {% endif %}
  {% endwith %}
  <div class="login-page">
    <!-- ILUSTRAÇÃO / LOGO -->
    <div class="login-illustration">
      <a href="{{ url_for('index') }}" class="logo">
        <img src="../static/images/logo.svg" alt="LitScore logo" />
        <span>LitScore</span>
      </a>
    </div>

    <!-- FORMULÁRIO -->
    {% if forgot_password or token %}
    <div class="login-form">
      <div class="form-content">
        <h2>Recuperar senha</h2>
        <p class="form-subtitle">
          {% if forgot_password %}
          Digite o email para recuperar a senha.
          {% elif token %}
          Atualize a sua senha.
          {% endif %}
        </p>

        <form
          action="{% if forgot_password %}{{ url_for('forgot_password') }}{% elif token %}{{ url_for('reset_password', token=token) }}{% endif %}"
          method="POST">

          {% if forgot_password %}
          <div class="input-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Digite seu email" required />
          </div>

          {% elif token %}
          <div class="input-group">
            <label for="password">Senha</label>
            <input type="password" name="password" id="password" placeholder="Atualize sua senha" required />
          </div>

          <div class="input-group">
            <label for="confirm-password">Confirmar senha</label>
            <input type="password" name="confirm-password" id="confirm-password" placeholder="Confirme sua senha"
              required />
          </div>
          {% endif %}

          <button type="submit">{% if forgot_password %}Recuperar{% elif token %}Atualizar{% endif %}</button>

        </form>
      </div>
    </div>
    {% else %}

    <div class="empty-page">
      <div class="login-box">
        <h2>Você não deveria estar aqui!</h2>
        <p>Por favor realize o login ou cadastre-se.</p>
        <div class="login-actions">
          <a href="{{ url_for('login') }}" class="btn-login">Entrar</a>
          <a href="{{ url_for('create_user') }}" class="btn-register">Criar conta</a>
        </div>
      </div>
    </div>

    {% endif %}

  </div>
  <script src="../static/js/flash-message.js"></script>
</body>

</html>