.login-page {
  display: flex;
  height: 100vh;
}

.login-illustration {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.login-illustration::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("https://plus.unsplash.com/premium_photo-1729542052815-def2301cc3fd?ixlib=rb-4.1.0&auto=format&fit=crop&q=80&w=800")
    center/cover no-repeat;
  filter: blur(3px);
  transform: scale(1.1);
  z-index: 0;
}

.login-illustration .logo {
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--neutral-000);
  font-family: var(--font-title);
  font-size: 4rem;
  font-weight: 600;
  text-shadow: 0 3px 8px var(--shadow-400);
  animation: fadeInUp 1.2s ease;
  text-decoration: none;
}

.login-illustration .logo img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  filter: drop-shadow(0px 0px 4px var(--shadow-500));
  filter: drop-shadow(0 3px 6px var(--shadow-400));
}

.login-form {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}


.register-text {
  margin-top: 20px;
  font-size: 0.9rem;
  color: var(--neutral-600);
  text-align: center;
}

.password-text {
  margin-top: 5px;
}

.register-text a {
  color: var(--brand-800);
  text-decoration: none;
  font-weight: 600;
}

.register-text a:hover {
  text-decoration: underline;
}

@media (max-width: 900px) {
  .login-page {
    flex-direction: column;
  }

  .login-illustration {
    height: 35vh;
  }

  .form-box {
    margin-top: 20px;
  }

  .login-illustration .logo {
    top: 15px;
    left: 20px;
    font-size: 1.4rem;
  }

  .login-illustration .logo img {
    width: 40px;
    height: 40px;
  }
}
