.form-content {
  background-color: var(--neutral-000);
  padding: 35px 45px;
  border-radius: 16px;
  box-shadow: 0 8px 25px var(--shadow-100);
  width: 100%;
  max-width: 420px;
  position: relative;
}

.form-content h2 {
  font-family: var(--font-title);
  font-size: 1.8rem;
  color: var(--brand-800);
  margin-bottom: 5px;
  text-align: center;
}

.form-subtitle {
  color: var(--neutral-600);
  margin-bottom: 30px;
  font-size: 0.95rem;
  text-align: center;
}

.form-content .input-group {
  margin-bottom: 20px;
}

.form-content .input-group label {
  display: block;
  text-align: start;
  font-weight: 600;
  color: var(--neutral-800);
  margin-bottom: 5px;
}

.form-content .input-group input {
  width: 100%;
  padding: 12px;
  border: 1.5px solid var(--neutral-400);
  border-radius: 8px;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.form-content .input-group input:focus {
  border-color: var(--brand-800);
  box-shadow: 0 0 6px rgba(255, 152, 0, 0.3);
  outline: none;
}

.form-content button {
  width: 100%;
  padding: 12px;
  background-color: var(--brand-500);
  color: var(--neutral-000);
  border: none;
  border-radius: 25px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.form-content button[type="submit"]:hover {
  background-color: var(--brand-600);
  transform: translateY(-2px);
}