.hero {
  background: url("https://images.unsplash.com/photo-1683871268982-a19153dbb35d?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1170")
    center/cover no-repeat;
}

/* --- SEÇÃO DE PERFIL --- */
.profile-section {
  background-color: var(--neutral-050);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

/* CARD DE PERFIL */
.profile-card {
  background-color: var(--neutral-000);
  border-radius: 16px;
  box-shadow: 0 5px 20px var(--shadow-100);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 35px 80px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


/* --- COLUNA ESQUERDA: AVATAR --- */
.avatar-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-align: center;
  border-right: 1px solid var(--neutral-200);
  padding-right: 40px;
}

.profile-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid var(--brand-400);
  margin-bottom: 20px;
}

.profile-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-content h2 {
  font-family: var(--font-title);
  color: var(--neutral-800);
  font-size: 1.3rem;
  margin-bottom: 8px;
}

.profile-content .email {
  color: var(--neutral-600);
  font-size: 0.9rem;
  margin-bottom: 15px;
  word-break: break-word;
}

.profile-content .role {
  background-color: var(--brand-100);
  color: var(--brand-700);
  font-weight: 600;
  font-size: 0.85rem;
  padding: 5px 14px;
  border-radius: 16px;
  display: inline-block;
  margin-bottom: 12px;
}

.profile-content .created {
  font-size: 0.8rem;
  color: var(--neutral-500);
}


/* BOTÃO DE SALVAR */
.edit-btn {
  text-decoration: none;
  align-self: flex-start;
  background-color: var(--brand-500);
  color: var(--neutral-000);
  border: none;
  padding: 10px 18px;
  border-radius: 25px;
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: 0.95rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 2px 6px var(--shadow-100);
}

.edit-btn:hover {
  background-color: var(--brand-600);
  transform: translateY(-2px);
}

/* --- RESPONSIVO --- */
@media (max-width: 900px) {
  .profile-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 25px;
  }

  .avatar-section {
    border-right: none;
    border-bottom: 1px solid var(--neutral-200);
    padding-right: 0;
    padding-bottom: 25px;
  }

  .edit-section {
    width: 100%;
    padding-top: 25px;
  }

  .form-grid {
    grid-template-columns: 1fr;
  }

  .save-btn {
    align-self: center;
  }
}
