.book {
  background-color: var(--neutral-050);
  padding: 60px 10%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
}

.form-content {
  max-width: max-content;
}

.form-book{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.book-layout {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  justify-content: center;
  padding: 30px;
}

.cover-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  cursor: pointer;
  position: relative;
}

.cover-preview img {
  width: 450px;
  height: 550px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 5px 20px var(--shadow-100);
  transition: transform 0.25s ease, box-shadow 0.25s ease, opacity 0.25s;
}

.cover-preview img:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.25);
  opacity: 0.9;
}

.cover-label::after {
  content: "Clique para alterar a capa";
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.9rem;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 4px 10px;
  border-radius: 6px;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.cover-label:hover::after {
  opacity: 1;
}


.form-fields {
  flex: 1;
  min-width: 400px;
}

@media (max-width: 850px) {
  .book-layout {
    flex-direction: column;
    align-items: center;
  }

  .cover-preview {
    width: 60%;
  }

  .form-fields {
    width: 100%;
  }
}
